<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.homelinux.ten.pinballbuttons"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Main screen -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Logs screen -->
        <activity
            android:name=".LogsActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" />

        <!-- Crash screen -->
        <activity android:name=".crash.CrashActivity" />

        <!-- BG service listening to keys and generating touch events -->
        <service
            android:name="net.homelinux.ten.pinballbuttons.TheService"
            android:enabled="true"
            android:icon="@drawable/ic_launcher"
            android:label="Service" >
        </service>

        <!-- Boot receiver -->
        <receiver android:name=".BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>